#SOURCES=wpdb,wpxml,markdown
SOURCES=markdown

# source = wpdb
WP_DB_SOURCE=wpdb
WP_DB_DERIVED_SOURCES=
DB_HOST=localhost
DB_NAME=tech-blog
DB_USER=tech-blog
DB_PASS=test1234
DB_PORT=13306
TZ=Asia/Tokyo

# source = wpxml
WP_XML_SOURCE=wpxml
WP_XML_DERIVED_SOURCES=
WP_EXPORT_XML=export.xml
WP_EXPORT_XML_URL_MAPS=true
WP_EXPORT_XML_ASSETS_SITE_URL=http://localhost:3000/wp-content

# source = markdown
MD_SOURCE=markdown
MD_SOURCE_DERIVED_SOURCES=

NEXT_PUBLIC_BLOG_TITLE="Hello World!"
NEXT_PUBLIC_BLOG_AUTHOR="Hello World!"
NEXT_PUBLIC_BLOG_DESCRIPTION="Hello World!"
NEXT_PUBLIC_BLOG_IMAGE=
NEXT_PUBLIC_TWITTER_ID=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_ADSENSE_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

PER_PAGE=10
IS_ISR=
ISR_REVALIDATE=600
